.btn {
    display: inline-block;
    border-radius: var(--border-radius);
    padding: 18px 28px;

    font-size: 18px;
    font-weight: 500;
    line-height: 1;
    color: var(--text-color-main);
    text-align: center;

    background-color: var(--accent-color-main);
    transition: background-color .3s ease-in-out;
    cursor: pointer;
}

.btn:hover,
.btn:active {
    background-color: var(--accent-color-hover);
    transition: background-color .3s ease-in-out;
}
